<% content_for :header do %>
  <h3>... my cousin works for Bit.ly</h3>
<% end %>

<nav>
  <ul>
    <li><%= link_to 'back', session[:came_from] %>
  </ul>
</nav>

<h2>Editing "<%= @article.title %>"</h2>

<%= render 'form' %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
