<% content_for :header do %>
  <h3>...with a name .com hipsters love!</h3>
<% end %>

<h2>All the World's Articles</h2>
<%= link_to new_article_path do %>
  <span><%= image_tag 'add.png' %> Create an Article</span>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Author name</th>
    <th>Body</th>
    <th>Creation Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr class="<%= cycle('odd-line', 'even-line') %>">
    <td><%= article.title %></td>
    <td><%= article.author_name %></td>
    <td><%= truncate article.body %></td>
    <td><%= article.created_at.to_s :us_with_weekday %></td>
    <td><%= link_to image_tag('magnifier.png'), article %></td>
    <td><%= link_to image_tag('pencil.png'), edit_article_path(article) %></td>
    <td><%= link_to image_tag('bin.png'), article, confirm: 'Are you sure?', method: :delete  %></td>
  </tr>
<% end %>
</table>
<p><%= pluralize @articles.count, "article" %></p>
