!!! html
%html
  %head
    %title Articles
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %h1 Articl.es
      = yield :header
      %nav
        %ul
          %li= link_to "Articl.es", Article
          %li= link_to "Autho.rs", Author
    = yield
