- content_for :header do
  %h3 ... what's "Articl" in Spanish anyway?

%p#notice= notice

%nav
  %ul
    %li
      = link_to Article, title: 'Back to the List' do
        = image_tag 'arrow_left.png'
        list all articles
    %li
      = link_to edit_article_path(@article), title: 'Edit this article' do
        = image_tag 'pencil.png'
        edit
    %li
      = link_to @article, title: 'Delete the article', confirm: 'Are you sure?', method: :delete do
        = image_tag 'bin.png'
        delete
    %li
      = mail_to 'editor@articl.es', image_tag('email.png')+' email', subject: @article.title, body: "http://articl.es"+article_path(@article), title: 'Email the author!'

%h2= @article.title
%p by #{ @article.author_name }. #{ pluralize @article.number_of_edits, "edit" } since #{ @article.created_at.to_s :us_sans_weekday }

%p= sanitize @article.body
